<form action="">
  <br>

  <div class="form-group">
    <label for="sel1">Curso: </label>
    <select class="form-control" id="sel1">
    <option>Curso 1</option>
    <option>Curso 2</option>
    <option>Curso 3</option>
    <option>Curso 4</option>
  </select>
  </div>

  <hr>

  <div class="form-group">
    <label for="sel1">Materia:</label>
    <select class="form-control" id="sel1">
    <option>Materia 1</option>
    <option>Materia 2</option>
    <option>Materia 3</option>
    <option>Materia 4</option>
  </select>
  </div>

  <hr>

  <div class="form-group">
    <label for="sel1">Professor:</label>
    <select class="form-control" id="sel1">
    <option>Professor 1</option>
    <option>Professor 2</option>
    <option>Professor 3</option>
    <option>Professor 4</option>
  </select>
  </div>

  <hr>

  <div class="form-group">
    <label for="sel1">Horario:</label>
    <select class="form-control" id="sel1">
    <option>Horario 1</option>
    <option>Horario 2</option>
    <option>Horario 3</option>
    <option>Horario 4</option>
  </select>
  </div>

  <hr>

  <div class="form-group">
    <label for="sel1">Sala:</label>
    <select class="form-control" id="sel1">
    <option>Sala 1</option>
    <option>Sala 2</option>
    <option>Sala 3</option>
    <option>Sala 4</option>
  </select>
  </div>

  <hr>

    <button type="submit" class="btn btn-default">Enviar</button>
</form>