<form class="form-signin">
  <h2 class="form-signin-heading">Acessar Portal:</h2>
  <label for="inputMatricula" class="sr-only">Matricula</label>
  <input type="text" id="inputMatricula" class="form-control" placeholder="Matricular" required autofocus>
  <label for="inputSenha" class="sr-only">Password</label>
  <input type="password" id="inputSenha" class="form-control" placeholder="Senha" required>
  <br>
  <div class="form-group">
    <select class="form-control" id="tipoAcesso">
    <option>Secretária</option>
    <option>Professor</option>
    <option>Aluno</option>
    <option>ADMIN</option>
  </select>
  </div>
  <br>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Acessar</button>
</form>