<ul class="nav nav-pills">
  <li role="presentation"><a routerLink="./perfil" routerLinkActive="active">Perfil</a></li>
  <li role="presentation"><a routerLink="./horario" routerLinkActive="active">Horário</a></li>
  <li role="presentation"><a routerLink="./diario" routerLinkActive="active">Diário</a></li>
  <li role="presentation"><a routerLink="./material" routerLinkActive="active">Material de Aula</a></li>  
  <li role="presentation"><a routerLink="./calendario" routerLinkActive="active">Calendário</a></li>  
  <li role="presentation"><a routerLink="./documento" routerLinkActive="active">Pedir documentos</a></li>
</ul>
<router-outlet></router-outlet>